---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Modal from '../components/Modal';
const allArtworks = await getCollection('artworks');
const years = ["2025", "2024", "older"];
const sortedArt = allArtworks.sort((a, b) => (b.data.sortOrder - a.data.sortOrder))

---
<Layout>
	<div class="flex flex-col">
		<div class="flex flex-col md:gap-2 lg:gap-3 mb-0 md:mb-6 mb-8">
		{years.map((year) => 
		<div class="text-xs text-light-gray mb-2 md:mb-0">{year}</div>
		<div class="sm:columns-1 md:columns-2 gap-6 lg:gap-8">
			{sortedArt.filter((art) => (art.data.year === year))
			.map((art) => 
			<div class="mb-6 sm:mb-8 flex flex-col gap-4 break-inside-avoid-column">
				{/* <Modal client:load text={art.data.text}>
					<Image src={art.data.image} alt={art.data.text} class="max-h-[90vh] w-auto m-auto"/>
				</Modal> */}
				<a href={`/${art.id}`}><Image src={art.data.image} alt={art.data.text}/></a>
				<div class="flex m-auto gap-1 md:hidden">
					<div class="text-xs text-light-gray relative">{art.data.title}, </div>
					<div class="text-xs text-light-gray relative">{art.data.text}</div>
				</div>
		</div>
			)}
		</div>
		)
		}
		</div>

	</div>
</Layout>
